{{!< main}}

<div class="error-page">
    <div class="error__number">404</div>
    <div class="error__text">Не туда попали</div>
    {{> 'link/link' text="Назад к чатам" href="chats.hbs" centred=true}}
</div>