{{!< main}}

<div class="card">
    <h2 class="card__title">Авторизация</h2>
    <form class="form">
        {{> 'fieldset/fieldset' label="Старый пароль" type="password" name="oldPassword"}}
        {{> 'fieldset/fieldset' label="Новый пароль" type="password" name="newPassword"}}
        {{> 'fieldset/fieldset' label="Повторите новый пароль" type="password" name="newPasswordRepeat"}}
        {{> 'button/button' label="Сохранить" className="form__button"}}
        {{> 'link/link' text="Войти" href="index.hbs" centred=true}}
    </form>
</div>