{{!< main}}

<div class="card">
    <h2 class="card__title">Изменить данные</h2>
    <form class="form">
        {{> 'fieldset/fieldset' label="Почта" type="email" name="email"}}
        {{> 'fieldset/fieldset' label="Логин" type="text" name="login"}}
        {{> 'fieldset/fieldset' label="Имя" type="text" name="first_name"}}
        {{> 'fieldset/fieldset' label="Фамилия" type="text" name="second_name"}}
        {{> 'fieldset/fieldset' label="Имя в чате" type="text" name="display_name"}}
        {{> 'fieldset/fieldset' label="Телефон" type="text" name="phone"}}

        {{> 'button/button' label="Сохранить" className="form__button"}}
    </form>
</div>
