{{!< main}}

<div class="page">
    <div class="sideBar">
        <div>
            box 1
        </div>
        <div>
            box 2
        </div>
    </div>
    <div class="content">
        <div class="content_top">TOP</div>
        <div class="content_message">
            {{> 'fieldset/fieldset' label="Сообщение" type="text" name="message"}}
        </div>
    </div>
</div>