.button {
    width: 100%;
    background: var(--color-border-bottom);
    border-radius: 8px;
    margin: 10px 0;
    padding: 12px 0;

    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    text-align: center;

    color: var(--bg-white);

    border: none;
    outline: none;
}
